ul {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}

.sectionTitle {
  font-weight: 600;
}

.resultsTitle {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.moneyLogo {
  width: 100%;
  text-align: center;
}

.results {
  margin-top: 2rem;
}

.resultsSection {
  padding: 16px;
  border-radius: 8px;
  margin-block: 1rem;
  background-color: #edf4ff;
}

.resultsSectionResults li {
  color: #767676;
  list-style: initial;
}

.boldSum {
  font-weight: 700;
}

.sumLine {
}
.approvalBlock {
  padding-block: 0.6rem;
  padding-inline: 1rem;
  border-radius: 8px;
  background-color: #67df65;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 1rem;
}

.maybeApprovalBlock {
  padding-block: 0.6rem;
  padding-inline: 1rem;
  border-radius: 8px;
  background-color: #f4b164;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 1rem;
}
