h2 {
  color: #4a4a4a;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 600;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.header {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.form {
  padding-block: 1rem;
}

.container {
  width: 90%; /* Use percentage for relative width */
  max-width: 400px; /* Maximum width for larger screens */
  margin: auto;
  overflow: hidden;
  padding-inline: 1.3rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  /* Adjust for small screens */
  .container {
    width: 92%; /* Take full width on small screens */
    max-width: none;
    padding: 10px; /* Optional: Adjust padding for smaller screens */
  }
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="date"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 0.5rem;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

button {
  background-color: rgb(28, 69, 135);
  color: #fff;
  border: none;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  background-color: rgba(28, 69, 135, 0.8);
}

ul {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

/* description text under the title */
.description-intro {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 400;
  letter-spacing: 1px;
}

.description-bold {
  font-weight: 600;
  padding-top: 1.5rem;
}

#alerts {
  color: red;
  margin-bottom: 1rem;
  font-weight: 600;
}
