.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 24px;
  padding-inline: 1rem;
  background-color: #f2f6fd;
  margin-top: 2rem;
}

.FAQTitle {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
