.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  padding-inline: 1rem;
}

.FAQTitle {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
