.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  padding-inline: 16px;
  background-color: var(--clr-ocean);
  margin-top: 2rem;
}

.FAQTitle {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
