.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 0.5rem;
}

.label {
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  accent-color: 0066ff;
}
