.barContainer {
  position: relative;
  width: 100%;
  padding-bottom: 60px; /* Space for lines and labels */
}

.innerBarContainer {
  display: flex;
  height: 50px; /* Height of the bar */
  border-radius: 16px;
  overflow: hidden; /* Maintains border-radius effect */
}

.barSegment {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dottedLine {
  position: absolute;
  bottom: 50px; /* Adjust this value to control the line's length */
  right: 0;
  border-right: 2px dotted black;
  height: 60%; /* Adjust if necessary */
}

.segmentLabel {
  position: absolute;
  margin-top: 18px;
  white-space: nowrap;
  font-size: 12px;
}

.segmentLabelText {
  position: relative;
  left: 50%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(111, 111, 111, 1);
}

.tooltip {
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-dark-gray);
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 240px;
}
