.disclaimer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  padding-inline: 0.7rem;
  padding-block: 1rem;
  line-height: 1.5;
  background-color: #edf4ff;
  color: #767676;
  margin-block: 3rem;
}

.disclaimerTitle {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: black;
  display: flex;
  align-items: center;

  img {
    width: 14px;
    height: 14px;
    margin-left: 0.3rem;
  }
}

a {
  color: #0066ff;
  text-decoration: none;
}
