.disclaimer {
  border-radius: 0.8rem;
  padding-inline: 0.7rem;
}

.disclaimerTitle {
  font-size: 1rem;
  color: black;

  img {
    width: 14px;
    height: 14px;
    margin-left: 0.3rem;
  }
}

a {
  color: var(--clr-blue);
  text-decoration: none;
}
