.donut {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(/* Segments will be added here */);
  background-clip: content-box;
  padding: 25%; /* Adjust this value to change the thickness of the donut */
}

.donut::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.tooltip {
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-dark-gray);
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 240px;
}
