.modal {
  @apply m-0 overflow-auto p-0 fixed right-2/4 top-2/4;
  transform: translate(50%, -50%);
  border: none;
  z-index: 1000;
  background: none;
  max-width: 360px;
  max-height: calc(94%);
  border-radius: 24px;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 94%;
  }
}

.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensure this is less than the modal's z-index */
}
