.independent {
  gap: 16px;
  padding: 32px 24px 24px 24px;
  border-radius: 24px;
  margin-block: 24px;
  border: 1.5px solid var(--clr-blue);
  min-height: 500px;
}

.imgContainer { /* Center vertically */ /* Hide any overflow */
  height: 120px; /* Set a fixed height or use relative units */
  width: 120px; /* Set a fixed width or use relative units */
  border-radius: 100%;
}

.img {
  max-width: 155%; /* Image can be as wide as its container */ /* Keep the image's aspect ratio */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  filter: brightness(105%);
}

.description {
  font-size: 14px;
  text-wrap: pretty;
  line-height: 1.4;
}

.phone {
  font-size: 14px;

  color: #0000ff;

  &:hover {
    color: rgba(0, 0, 255, 0.8);
  }
}

.links {
  gap: 8px;
}

.link {
  font-size: 16px;
  color: #0000ff;

  &::after {
    @apply mr-2;
    content: '🔗 ';
  }

  &:hover {
    color: rgba(0, 0, 255, 0.8);
  }
}

.business {
  font-size: 16px;
  color: var(--clr-idf);
}

.subtitle {
  color: var(--clr-dark-gray);
  font-size: 14px;
  padding-inline: 32px;
}

.header {
  gap: 16px;
}

.contact {
  gap: 8px;
  color: var(--clr-blue);
  font-size: 14px;
}

.contactColumn {
  gap: 8px;
}

.carouselControl {
  border: none;
  /* Style for left and right buttons */
  font-size: 1.3rem;
  color: var(--clr-blue);
}

/* Left control */
.carouselControl:first-of-type {
  left: 10px;
}

/* Right control */
.carouselControl:last-of-type {
  right: 10px;
}
