.independent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 14px;
  margin-block: 24px;
  border: 1px solid rgba(0, 102, 255, 0.15);
  text-align: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide any overflow */
  height: 200px; /* Set a fixed height or use relative units */
  width: 100%; /* Container takes full width */
  border-radius: 14px;
}

.img {
  max-width: 100%; /* Image can be as wide as its container */
  height: auto; /* Keep the image's aspect ratio */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(105%) contrast(110%);
}

.description {
  font-size: 16px;
  font-weight: 400;
}

.phone {
  font-size: 14px;
  font-weight: 400;

  color: #0000ff;

  &:hover {
    color: rgba(0, 0, 255, 0.8);
  }
}

.links {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  font-size: 16px;
  color: #0000ff;

  font-weight: 400;

  &::after {
    content: '🔗 ';
    margin-right: 8px;
  }

  &:hover {
    color: rgba(0, 0, 255, 0.8);
  }
}

.business {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}

.subtitle {
  text-align: center;
  color: #767676;
  font-weight: 400;
}

.title {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}
