.modalClose {
  top: -12px;
  color: #cccccc;
  font-size: 24px;
}

.container {
  border-radius: 24px;
  gap: 24px;
  color: white;
  background-color: var(--clr-blue);
}

.list {
  list-style: decimal;
  line-height: 1.185;
  font-size: 14px;
}
