.subTitle {
  color: var(--clr-idf);
  font-size: 16px;
  gap: 4px;
}

.importantNotice {
  color: #dc3545;
  font-size: 1.2em;

  margin-block: 1.5rem;
}

.share {
  font-size: 14px;
  color: var(--clr-dark-gray);
}
