.formForm {
  gap: 24px;
}

.label {
  margin: 10px 0 5px;
}

.submitButton {
  background-color: rgba(0, 102, 255, 1);
  border: none;
  padding: 12px 24px 12px 24px;
  border-radius: 44px;

  font-size: 16px;

  &:hover {
    background-color: rgba(0, 102, 255, 0.9);
  }
}

.error {
  color: red;
}

.validation {
  padding-block: 1rem;
}

.formSection {
  padding: 16px 16px 24px 16px;
  border-radius: 16px;
  border: 1.5px solid var(--clr-idf);
}

.formSectionTitle {
  font-size: 1rem;
  gap: 0.7rem;
}

.formHeader {
  padding-block: 20px;
}

.descriptionFill {
  color: var(--clr-dark-gray);
}
