/* Timeline.css */
.container {
  gap: 28px;
}

.event {
  gap: 8px;
}

.eventContent {
  flex: 1;
  gap: 16px;
  font-size: 14px;
  color: var(--clr-dark-gray);
}

.eventContentToday {
  font-size: 14px;
  color: var(--clr-dark-gray);
}

.eventDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--clr-blue);
  z-index: 1;
}

.container::before {
  @apply absolute;
  content: '';
  top: 6px;
  right: 6px;
  bottom: 10px;
  width: 2px;
  background-image: linear-gradient(
    to bottom,
    transparent 45%,
    var(--clr-dark-gray) 50%
  );
  background-size: 2px 10px;
}

.eventInfo {
  color: white;
  padding-inline: 10px;
  padding-block: 6px;
  font-size: 12px;
}

.eventContentColumn {
  text-wrap: balance;
}

.todaySVGWrapper {
  background-color: white;
  z-index: 1;
  border-radius: 50%;
  left: 6px;
}
