.container {
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-ocean);
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: var(--clr-dark-gray);
  font-weight: 600;
  font-size: 16px;
}

.title {
  margin: 0;
}

.showMore {
  padding-top: 16px;
  border-top: 1.5px dashed var(--clr-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--clr-blue);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
