.container {
  padding: 24px 16px 16px 16px;
  gap: 40px;
  background-color: var(--clr-ocean);
  border-radius: 16px;
}

.subtitle {
  color: var(--clr-dark-gray);
  font-size: 16px;
}

.showMore {
  border-top: 1.5px dashed var(--clr-blue);
  color: var(--clr-blue);
  font-size: 16px;
}
