.newsFeedItem {
  color: black;
  gap: 16px;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.imageWrapper {
  height: 180px;
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.1);
}

.title {
  text-decoration: underline;
}

.divider {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
