.oneZero {
  background-color: var(--clr-blue);
  color: white;
  border-radius: 24px;
  gap: 24px;
  padding: 24px 16px 24px 16px;
  font-size: 16px;
}

.header {
  gap: 4px;
}

.totalSum {
  border: rgba(242, 246, 253, 0.4) 1px solid;
  border-radius: 16px;
  gap: 16px;
}

.totalSumInput {
  border-width: 0 0 1px;
  border-color: #cccccc;
  font-size: 16px;
  background-color: var(--clr-blue);
  color: white;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #cccccc;
  }
}

.totalSumNumber {
  border-width: 0 0 1px;
  border-color: #cccccc;
  padding-block: 8px;
}

.disclaimer {
  color: #cccccc;
  font-size: 12px;
}

.results {
  background-color: var(--clr-ocean);
  grid-template-rows: 1fr 1px 1fr;
  gap: 6px;
  border-radius: 16px;
}

.resultsRow {
  color: var(--clr-blue);
  grid-template-columns: 1fr 3fr 3fr;
  padding: 16px 24px 16px 24px;
}

.divider {
  height: 1.5px;
  background-color: #cccccc;
}

.btnWrapper {
  gap: 8px;
}

.btn {
  border-radius: 44px;
  border: 1.5px solid white;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
}

.btnDescription {
  font-size: 12px;
  color: white;
}

.modalClose {
  top: -12px;
  color: #cccccc;
  font-size: 24px;
}
