.container {
  border-radius: 16px;
  border: 1.5px solid var(--clr-one-zero-black);
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding-block: 24px;
  margin-top: 1rem;
}
