@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --clr-idf: #528322;
  --clr-ocean: #f2f6fd;
  --clr-stone: #dce4ee;
  --clr-blue: #0066ff;
  --clr-dark-gray: #6f6f6f;
  --clr-bright-gray: #cccccc;
  --clr-one-zero-black: #1f1f1f;

  font-family: 'Rubik', 'Roboto', sans-serif;
  font-weight: 500;

  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & > * {
    -webkit-tap-highlight-color: transparent;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

@media screen and (max-width: 600px) {
  :root {
    background-color: #fff;
    padding: 0;
  }
}
