:root {
  font-family: 'Rubik', 'Roboto', sans-serif;
  padding-bottom: 4rem;
  font-weight: 500;

  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
