.accordion {
  margin-block: 1.8rem;
}

.accordionItem {
  margin-bottom: 10px;
}

.accordionButton {
  font-size: 18px;
  padding-block: 0.8rem;
  border-bottom: 2px solid var(--clr-stone);
  gap: 16px;
}

.accordionButtonIcon {
  width: 30px;
  height: 30px;
  font-size: 16px;
}

.accordionContent {
  @apply font-normal;
  font-size: 16px;
  padding-block: 1rem;
  color: var(--clr-dark-gray);
}

.accordionItem.active .accordionContent {
  @apply block;
}
