.newsFeedItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
  gap: 16px;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.imageWrapper {
  border-radius: 8px;
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  /* object-fit: cover;
  object-position: center; */
}

.title {
  text-decoration: underline;
}
